<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* Title of this template will be passed to the head fragment along with custom links and scripts */-->
<head th:replace="fragments/layout :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script})">
    <title>商品信息列表</title>
</head>
<body>

<!--/* The element with breadcrumb class will be passed to the header fragment */-->
<header th:insert="fragments/layout :: header(~{ :: .breadcrumb})">
    <ol class="breadcrumb container">
        <li><a href="#">首页</a></li>
        <li><a href="#" th:href="@{/supplier}">供应商管理</a></li>
    </ol>
</header>

<!--/* Insert content fragment with content of the element with goods-list' */-->
<div th:insert="fragments/layout :: content(~{ :: #supplier-list})">
    <div id="supplier-list">
        <form class="form-inline" style="margin-bottom: 20px;" action="#" method="post" th:action="@{/supplier/search}" th:object="${supplier}">
            <div class="form-group">
                <label for="supplierName">供应商名称</label>
                <input type="text" class="form-control" style="width: 200px;" id="supplierName" th:field="*{name}">
            </div>
            <button type="submit" class="btn btn-primary">查询</button>
            <a class="btn btn-default" th:href="@{/supplier/add}">新增</a>
        </form>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>编号</td>
                <td>供应商名称</td>
                <td>地址</td>
                <td>联系人</td>
                <td>联系电话</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${suppliers.empty}">
                <td colspan="4">没有商品存在</td>
            </tr>
            <tr th:each="item : ${suppliers}">
                <td th:text="${item.id}">1</td>
                <td>
                    <a href="#" th:href="@{/supplier/{id}(id=${item.id})}" th:text="${item.name}">供应商名称</a>
                </td>
                <td th:text="${item.address}">Text ...</td>
                <td th:text="${item.contactPerson}">Text ...</td>
                <td th:text="${item.contactPhone}">Text ...</td>
                <td>
                    <a href="#" th:href="@{/supplier/delete/{id}(id=${item.id})}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;删除
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="fragments/layout :: footer">Footer</footer>

</body>
</html>