<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* Title of this template will be passed to the head fragment along with custom links and scripts */-->
<head th:replace="fragments/layout :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script})">
    <title>商品信息列表</title>
</head>
<body>

<!--/* The element with breadcrumb class will be passed to the header fragment */-->
<header th:insert="fragments/layout :: header(~{ :: .breadcrumb})">
    <ol class="breadcrumb container">
        <li><a href="#">首页</a></li>
        <li><a href="#">库存管理</a></li>
    </ol>
</header>

<!--/* Insert content fragment with content of the element with goods-list' */-->
<div th:insert="fragments/layout :: content(~{ :: #stock-list})">
    <div id="stock-list">
        <form class="form-inline" style="margin-bottom: 20px;" action="#" method="post" th:action="@{/stock/search}" th:object="${goods}">
            <div class="form-group">
                <label for="goodsName">商品名称</label>
                <input type="text" class="form-control" style="width: 200px;" id="goodsName" th:field="*{name}">
            </div>
            <button type="submit" class="btn btn-primary">查询</button>
            <!--<a class="btn btn-default" th:href="@{/stock/add}">新增</a>-->
        </form>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>编号</td>
                <td>商品名称</td>
                <td>总库存</td>
                <td>剩余库存</td>
                <td>更新时间</td>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${stocks.empty}">
                <td colspan="4">没有商品库存存在</td>
            </tr>
            <tr th:each="item : ${stocks}">
                <td th:text="${item.id}">1</td>
                <td>
                    <a href="#" th:href="@{/stock/{id}(id=${item.id})}" th:text="${item.goods.name}">商品名称</a>
                </td>
                <td th:text="${item.totalQuantity}">Text ...</td>
                <td th:text="${item.remainQuantity}">Text ...</td>
                <td th:text="${#calendars.format(item.updateTime)}">July 11, 2017 2:17:16 PM CDT</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="fragments/layout :: footer">Footer</footer>

</body>
</html>