<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* Title of this template will be passed to the head fragment along with custom links and scripts */-->
<head th:replace="fragments/layout :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script})">
    <title>商品信息列表</title>
    
    <!-- Custom links for this page only -->
    <link class="custom-link" href="../../../resources/static/css/task/task.css" th:href="@{/css/task/task.css}" />
    <!-- Custom scripts for this page only -->
    <script class="custom-script" src="../../../resources/js/task/task.js" th:src="@{/js/task/task.js}"></script>
</head>
<body>

<!--/* The element with breadcrumb class will be passed to the header fragment */-->
<header th:insert="fragments/layout :: header(~{ :: .breadcrumb})">
    <ol class="breadcrumb container">
        <li><a href="#">首页</a></li>
        <li><a href="#">账户管理</a></li>
    </ol>
</header>

<!--/* Insert content fragment with content of the element with goods-list' */-->
<div th:insert="fragments/layout :: content(~{ :: #account-list})">
    <div id="account-list">
        <form class="form-inline" style="margin-bottom: 20px;" action="#" method="post" th:action="@{/account/search}" th:object="${account}">
            <div class="form-group">
                <label for="userName">管理员名称</label>
                <input type="text" class="form-control" style="width: 200px;" id="userName" th:field="*{userName}">
            </div>
            <button type="submit" class="btn btn-primary">查询</button>
            <a class="btn btn-primary" th:href="@{/account/add}">新增</a>
        </form>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>编号</td>
                <td>管理员名称</td>
                <td>角色</td>
                <td>创建时间</td>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${accounts.empty}">
                <td colspan="4">没有管理员存在</td>
            </tr>
            <tr th:each="item : ${accounts}">
                <td th:text="${item.id}">1</td>
                <td>
                    <a href="#" th:href="@{/account/edit/{id}(id=${item.id})}" th:text="${item.userName}">管理员名称</a>
                </td>
                <td th:text="${item.role=='ROLE_ADMIN'?'超级管理员':'普通管理员'}">角色</td>
                <td th:text="${#calendars.format(item.createTime)}">July 11, 2017 2:17:16 PM CDT</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="fragments/layout :: footer">Footer</footer>

</body>
</html>