<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品销售管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../../resources/static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <script src="../../../resources/static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../../resources/static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
    <div class="text-center">
        
        <h1>商品销售管理系统</h1>

        <div class="lead">
            欢迎进入商品销售管理系统，这是一个商品销售相关的管理平台，包括商品的基本信息管理、库存信息管理、供应商的信息管理以及平台管理员的信息
        </div>
        
        <!--<p>-->
            <!--<a id="signup" class="btn btn-success btn-lg">注册</a>-->
        <!--</p>-->
    </div>
    <div th:insert="~{fragments/footer :: footer}">&copy; 2017 商品销售管理系统</div>
</div>
<script th:inline="javascript" type="text/javascript">
/* Fill in modal with content loaded with Ajax */
$(document).ready(function () {
    $('#signup').on('click', function (e) {
        $("#myModal").modal();
        $("#myModalBody").text("");
        $.ajax({
            url: "signup",
            cache: false
        }).done(function (html) {
            $("#myModalBody").append(html);
        });
    })
});
</script>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">注册</h4>
            </div>
            <div class="modal-body" id="myModalBody">注册表单</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>